
/* Global Styles*/
* {
    margin:0;
    padding:0;
}

html {
    font-size: 16px;
}

/* ======================================================================= */
/* Specific Styles*/
main{
    width: fit-content;
    margin: 0.3rem;
    padding: 0.6rem;
    border: 2px dotted black;
    
    & h1 {
        font: normal 1rem auto;
        text-align: center;
        margin: 1rem auto 3rem;
        
    }
    
    & div.group-card {
        column-gap: 0.6em;
        width: fit-content;
        display:flex;
        flex-direction: row;
        & > .card { 
            /* each card has same size (& same size growth from same absolute basis)*/
            flex: 1 0 0px;
        }
    }
    
    & article.card {
        & div.img-container {
            /* Take as much space as possible*/
            width: 100%;
            height: 100%;
            position: relative;
            /* Without offset. Only needed to be nearest positioned ancestor of it child.
             *   see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position#absolute_positioning**/
            & img {
                /* Normal placement, no intrinsic size */
                position:absolute; top:0; left:0; 
                /* Take size of parent*/
                width: 100%;
                height: 100%;
                /* Adjust size keeping img ratio*/
                object-fit: contain;
            }
        }
        
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        
        aspect-ratio: 3/4;
        min-width: 4em;
        padding: 1em;
        border: 0.15em solid black;
        & h2 {
            text-align: center;
            font-size: 0.75em;
            font-weight: normal;
        }
        & p.card-HP {
            align-self: flex-end;
            font: bold 0.6em auto;
            & span { font-size: 0.6em; }
        }
        & div.group-type {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            font-size: 0.5em;
            gap: 0.4em;
        }
    }
}

.type-icon{
    font-height: 1.5em;
    width: 5.5em;
    padding: 1px;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 0.3em;

    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    text-transform: uppercase;
}
.type-ghost{    background-color: #66b; }
.type-fairy{    background-color: #e9e; }
.type-electric{ background-color: #fc3; }
.type-normal{   background-color: #aa9; }